<html>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />

  <body>
    <div class="container">
      <div class="row">
        <h2>1. Class wise time tables</h2>
        { class_table }
      </div>
      <div class="row">
        <h2>2. Occupied periods filled with Co-teachers - time tables</h2>
        { co_table }
      </div>
      <div class="row">
        <h2>3. Minimum { extra_co } extra co-teachers needed to solve </h2>
      </div>
    </div>
  </body>
</html>
